output.wav
output.png

TestSomthing.py

/NonPadded

#old Data
/Data 1
/Models/*
!/Models/Best
#any Folder with Sound Data or Spectrogram
/Self Recorded/*
/Data/*
/PreprossedData/*
/Spectro/*
/TestSpectro/*
/Validat/*
/tSpectro
/Test
/test
/3 to 3 Spec
/3 to 3 
/Cut
/Testing

asr_inference_with_ctc_decoder_tutorial.ipynb
detect_and_write_the_difference.py
forced_alignment_tutorial.ipynb
myname.wav
output.mp3
testing.py
TestTheModel CNN.py
TestTheModel.py
vvv.txt